{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3 bg-light p-5 border shadow rounded">
        <h1 class="text-center mb-5">Register</h1>

        <!-- Registration Form -->
        <form method="post">
            {% csrf_token %}
            {{ form.as_div }}
            <button type="submit" class="btn w-100 btn-primary">Register</button>
        </form>

        <!-- Additional Links -->
        <div class="mt-3 text-center">
            <p class="mb-0">Already have an account? <a href="{% url 'home' %}">Login</a></p>
        </div>
    </div>
</div>
{% endblock %}