{% extends "base.html" %}

{% block title %}Roʻyxatdan oʻtish{% endblock %}

{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3 bg-light p-5 border shadow rounded">
        <h1 class="text-center mb-5">Roʻyxatdan oʻtish</h1>
        <form method="post" class="">
            {% csrf_token %}
            {{ form.as_div }}
            <button type="submit" class="mt-5 btn w-100 btn-success">Yuborish</button>
        </form>
    </div>
</div>
{% endblock %}