{% extends "base.html" %}

{% block content %}
<h1>{{ lesson.title }}</h1>
<p>{{ lesson.content }}</p>

<h2>Test</h2>
<form method="post">
    {% csrf_token %}
    {% for quiz in lesson.quizzes.all %}
        <p>{{ quiz.question }}</p>
        <input type="radio" name="quiz_{{ quiz.id }}" value="{{ quiz.option_1 }}"> {{ quiz.option_1 }}<br>
        <input type="radio" name="quiz_{{ quiz.id }}" value="{{ quiz.option_2 }}"> {{ quiz.option_2 }}<br>
        <input type="radio" name="quiz_{{ quiz.id }}" value="{{ quiz.option_3 }}"> {{ quiz.option_3 }}<br>
        <input type="radio" name="quiz_{{ quiz.id }}" value="{{ quiz.option_4 }}"> {{ quiz.option_4 }}<br>
    {% endfor %}
    <button type="submit">Yuborish</button>
</form>
{% endblock %}
